header.header
      .inner-wrap
        .inner-social
          ul
            li
              a(href='/', target='_self') Trang chu
            li
              a(href='/products', target='_self') danh sach sp