.sider sider
    .inner-menu 
        ul  
            li 
                a(href=`${prefixAdmin}/dashboard`) tong quan

            li 
                a(href=`${prefixAdmin}/products`) DS san pham
            li 
                a(href=`${prefixAdmin}/products-category`) DANH MUC san pham